.grid {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 70px;
  column-gap: 70px;
  margin: 30px;
  justify-content: center;
}

.grid2 {
  display: grid;
  text-align: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 70px;
  column-gap: 70px;
  margin: 30px;
  justify-content: center;
}

.grid_item1 {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-image: url(../files/greenbox.jpg);
  background-repeat: no-repeat;
  background-size: 700px;
  position: relative;
  width: 500px;
}

.grid_item1:hover {
  transform: scale(1.05);
  transition: 1s;
}

.grid_item2 {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-image: url(../files/fitness19.jpg);
  background-repeat: none;
  background-size: 700px;
  position: relative;
  width: 500px;
}

.grid_item2:hover {
  transform: scale(1.05);
  transition: 1s;
}

.grid_item3 {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-image: url(../files/restAPI.jpg);
  background-size: 700px;
  position: relative;
  width: 500px;
}

.grid_item3:hover {
  transform: scale(1.05);
  transition: 1s;
}

.grid_item4 {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-image: url(../files/myFlix.jpg);
  background-size: 700px;
  position: relative;
  width: 500px;
}

.grid_item4:hover {
  transform: scale(1.05);
  transition: 1s;
}

.grid_item5 {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-image: url(../files/Angular.jpg);
  background-size: 700px;
  position: relative;
  width: 500px;
}

.grid_item5:hover {
  transform: scale(1.05);
  transition: 1s;
}

.grid_item6 {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-image: url(../files/pokedex.jpg);
  background-size: 700px;
  position: relative;
  width: 500px;
}

.grid_item6:hover {
  transform: scale(1.05);
  transition: 1s;
}

.grid_item7 {
  height: 600px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-image: url(../files/native.jpg);
  background-size: 700px;
  position: relative;
  width: 500px;
}

.grid_item6:hover {
  transform: scale(1.05);
  transition: 1s;
}

.image-container {
  display: inline-block;
  text-align: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
}

.devButtons {
    display: inline-block;
    position: absolute;
    margin-top: 80px;
    margin-left:-80px;
    margin-bottom: 50px;
    bottom:0px;
}

.imgGB {
  margin-top: 20px;
}

.imgRS {
  width: 800px;
}

.container {
  text-align: center;
  margin-top: 170px;
  justify-content: center;
}


.gitButton {
  color: white;
  text-decoration: none;
}

.gitButton:hover {
  color: #7f13d2;
  border-bottom: 3px solid #7f13d2;
  transition: all 0.2s ease-out;
}

.gdButton {
  color: #7f13d2;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 .5em 0 white;
  font-weight: 800;
  font-size: 1rem;
  padding: 20px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  display: inline-block;
  position: absolute;
  margin-top: 80px;
  margin-left:-80px;
  margin-bottom: 50px;
  text-decoration: none;
  width:180px;
  bottom:0px;
}
 

.gdButton:after {
  content: '';
position: absolute;
width: 0;
height: 0;
bottom: 0;
right: 0;
border-bottom: 3px solid #9200FF;
border-right: 3px solid #9200FF;
transition: all 0.4s;
opacity: 0;
}

.gdButton:before {
  content: '';
position: absolute;
width: 0;
height: 0;
top: 0;
left: 0;
border-top: 3px solid #9200FF;
border-left: 3px solid #9200FF;
transition: all 0.4s;
opacity: 0;
}

.gdButton:hover:after, .gdButton:hover:before {
  width: calc(98%);
  height: calc(95%);
  transition: all 0.4s;
  opacity: 1;
  cursor: pointer;
}

@media all and (max-width: 1200px) {

  .grid2 {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 30px;
    column-gap: 70px;
    margin: 30px;
    justify-content: center;
  }

  .grid {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 70px;
    column-gap: 70px;
    margin: 30px;
    justify-content: center;
  }

  .imgGB {
    width: 600px;
  }

  .imgRS {
    width: 600px;
  }

    @media all and (max-width: 750px) {
      .imgGB {
        width: 400px;
      }

      .imgRS {
        width: 400px;
      }

      .container {
        text-align: center;
        margin-top: 80px;
        justify-content: center;
      }
    }

    @media all and (max-width: 600px) {
      .grid_item1 {
        height: 600px;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        background-color: #42b300;
        background-image: url(../files/greenbox.jpg);
        background-repeat: no-repeat;
        background-size: 550px;
        position: relative;
        width: 300px;
      }

      .grid_item2 {
        height: 600px;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        background-color: #42b300;
        background-image: url(../files/fitness19.jpg);
        background-repeat: none;
        background-size: 550px;
        position: relative;
        width: 300px;
      }

      .grid_item3 {
        height: 600px;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        background-color: #42b300;
        background-image: url(../files/restAPI.jpg);
        background-size: 600px;
        position: relative;
        width: 320px;
      }
      
      .grid_item4 {
        height: 600px;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        background-color: #42b300;
        background-image: url(../files/myFlix.jpg);
        background-size: 530px;
        position: relative;
        width: 320px;
      }
      
      .grid_item5 {
        height: 600px;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        background-color: #42b300;
        background-image: url(../files/Angular.jpg);
        background-size: 530px;
        position: relative;
        width: 320px;
      }
      
      .grid_item6 {
        height: 600px;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        background-color: #42b300;
        background-image: url(../files/pokedex.jpg);
        background-size: 600px;
        position: relative;
        width: 320px;
      }

      .grid_item6:hover {
        transform: scale(1.05);
        transition: 1s;
      }
      
      .grid_item7 {
        height: 600px;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        background-color: #42b300;
        background-image: url(../files/native.jpg);
        background-size: 600px;
        position: relative;
        width: 320px;
      }
      
      .grid_item6:hover {
        transform: scale(1.05);
        transition: 1s;
      }

      .imgRS {
        width: 400px;
      }
      
    }

    @media all and (max-width: 475px) {
      .imgRS {
        width: 300px;
      }
    }
}