@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

  body {
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 100%;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
    font-weight: 900;
    transition: 1s;
  }
  
.title {
    color: white;
}

.descr1 {
    font-size: 12pt;
    color: white;
  }

.descr2 {
    color: black
}

  .button_work {
    background-color: rgb(49, 49, 49);
    font-weight: 600;
    font-size: 14px;
    color: white;
    padding: 15px;
    border: black solid 2px;
    border-radius: 30px;
    width: 200px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    display: inline-block;
    margin-top: 90px;
    margin-bottom: 110px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
  }
  
  .button_2 {
    background-color: white;
    font-weight: 600;
    font-size: 12px;
    color: rgb(59, 59, 59);
    padding: 5px;
    border: black solid 2px;
    border-radius: 30px;
    width: 150px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    display: inline-block;
    text-decoration: none;
  }

  .button_3 {
      font-size: 10px;
      align-items: baseline;  
  }
  
  .grid {
    display: grid;
    text-align: center;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    row-gap: 150px;
    column-gap: 150px;
  }

  .grid_item1 {
    height: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    border: 1px solid black;
    background-color: #42b300;
    background-image: url(../files/Green\ Box\ logo.png);
  }

  .grid_item2 {
    height: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    border: 1px solid black;
    background-image: url(../files/Join\ For\ Free-02.jpg);
    background-size: 600px;
  }

  .grid_item3 {
    height: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    border: 1px solid black;
    background-color: #eb7100;
    background-image: url(../files/Politiself_logo.png);
  }

  .grid_item4 {
    height: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    box-shadow: 6px 3px 19px 0px rgba(0, 0, 0, 0);
    border: 1px solid black;
    background-color: #479aff;
    background-image: url(../files/CF_Casestudy_1.png);
    background-size: 300px;
  }

  .imgRS {
    width: 60%;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .25);
    background: #bdbdbd;
  }

  .imgGB {
    width: 5%;
    margin: 10px;
    padding: 10px;
    background: #dadada;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    transition: 1s;
  }

  .imgGB:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
    cursor: pointer;
  }

  .image-container {
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    box-shadow: 0 0 30px regba(0,0,0, .25);
  }
  
  .sliderImage {
    width: 900px;
    padding: 30px;
    margin: 0 auto;
    border: 2px solid rgb(66, 66, 66);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .right-arrow {
    position: relative;
    top: 110%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    margin-left: 300px
  }
  
  .left-arrow {
    position: relative;
    top: 110%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }


  @media all and (max-width: 1070px) {
  
    .sliderImage {
      width: 700px;
      padding: 30px;
      margin: 0 auto;
      border: 2px solid rgb(66, 66, 66);
      border-radius: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

  }

  @media all and (max-width: 800px) {
  
    h1 {
      font-size: 22px;
      margin-top: 50px;
    }
  
    .button {
      font-size: 10px;
      width: 140px;
      margin-top: 10px;
      position: relative;
    }
  
    .grid {
      display: grid;
      text-align: center;
      grid-template-columns: 300px;
      grid-template-rows: 300px 300px 300px 300px;
    }

    .image-container {
      display:block;
      margin: 0 auto;
      justify-content: center;
      box-shadow: 0 0 30px regba(0,0,0, .25);
      max-width: 400px;
    }

    .imgGB {
      width: 100%;
      margin-top: -15px;
      margin-bottom: 45px;
      padding: 25px;
      background: #dadada;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
      transition: 1s;
    }

    .sliderImage {
      display: none
    }

    .right-arrow {
      display: none;
    }
    
    .left-arrow {
      display: none
    }

    @media all and (max-width: 470px) {
      .image-container {
        max-width: 270px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0 0 30px regba(0,0,0, .25);
        column-count: 1;
        column-gap: 30px;
        background-color: #EAEAEA;
      }

      .imgGB {
        width: 100%;
        margin-top: -25px;
        margin-bottom: 45px;
        padding: 25px;
        background: #dadada;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
        transition: 1s;
      }

      .right-arrow {
        display: none;
      }
      
      .left-arrow {
        display: none
      }
      
    }
}