.imgGB {
    width: 5%;
    margin: 10px;
    padding: 10px;
    background: #dadada;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    transition: 1s;
  }

  .imgGB:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
    cursor: pointer;
  }

  .image-container {
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    box-shadow: 0 0 30px regba(0,0,0, .25);
  }

  .selectedIMG {
    width: 900px;
    padding: 30px;
    margin: 0 auto;
    border: 2px solid rgb(66, 66, 66);
    margin-top: 30px;
  }